{% extends "base.html" %}

{% load static %}

{% block title %}home
{% endblock %}

{% block extra-style %}
{% endblock extra-style %}


{% block content %}
<span class="image main"><img src="{% static 'img/home.jpg' %}" alt="" /></span>
<div id = "container" style="text-align: center;">

    <p>오늘은<br>
        나의 이야기에 찾아가<br>
        일기가 되어 꿈을 꾸고
        </p>
        
    <p>내일은<br>
        너의 이야기에 찾아가<br>
        무한한 공간에서 춤을 추리다
        </p>
        
    <p>별이 빛나는<br>
        그런 밤에는<br>
        나는 너의 발자국을 따라<br>
        너는 나의 발자국을 따라<br>
        내민 손 맞잡고<br>
        세차게 흐르는 은빛 강물을 따라<br>
        여행하리다 </p>

</div>

{% endblock content %}

{% block jsfile %}
{% endblock %}