{% extends "base.html" %}

{% load static %}

{% block title %} photo_detail
{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'assets/css/main2.css' %}" />
{% endblock extra-style %}


{% block content %}

    <article id="one" class="post style1">
        <div class="image" style="background-size: contain;">    
            <img src="{{ photo.image.url }}" alt="" data-position="75% center"/>
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h3>{{ photo.title }}</h3>
                    <p class="info">{{ photo.post.date }} by <a href="{% url 'page:member_detail' membername %}">{{ photo.post.member }}</a></p>
                </header>
                    <p style="overflow:auto; height:200px;">{{ photo.content }}</p>
            </div>
            <div class="col ml-15" style="padding-left: 30px;">
                <h6>category: <a href="{% url 'page:category_detail' categoryname %}">{{ photo.post.category }}</a></h6>
                <h6>Tag: {% for tag in photo.post.tag.all %}<a href={% url "page:tag_detail" tag %}>{{ tag }}</a>{% endfor %}</h6>								
            </div>
        </div>

{% endblock content %}

{% block jsfile %}
    <script src="{% static 'assets/js/jquery.min2.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util2.js' %}"></script>
    <script src="{% static 'assets/js/main2.js' %}"></script>
{% endblock %}