{% extends "base.html" %}

{% load static %}



{% block content %}

    <section class="tiles">
        <article class="style1">
            <span class="image">
                <img src="{% static 'img/pic01.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}">
                <h2>Category1</h2>
                <div class="content">
                    <p>영화</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="{% static 'img/pic02.jpg' %}"  alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category2</h2>
                <div class="content">
                    <p>미술</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="{% static 'img/pic03.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category3</h2>
                <div class="content">
                    <p>음악</p>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="{% static 'img/pic04.jpg' %}"alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category4</h2>
                <div class="content">
                    <p>여행</p>
                </div>
            </a>
        </article>
        <article class="style5">
            <span class="image">
                <img src="{% static 'img/pic05.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category5</h2>
                <div class="content">
                    <p>음식</p>
                </div>
            </a>
        </article>
        <article class="style6">
            <span class="image">
                <img src="{% static 'img/pic06.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category6</h2>
                <div class="content">
                    <p>드라이브</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src="{% static 'img/pic07.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category7</h2>
                <div class="content">
                    <p>요리</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src="{% static 'img/pic08.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category8</h2>
                <div class="content">
                    <p>운동</p>
                </div>
            </a>
        </article>
        <article class="style1">
            <span class="image">
                <img src="{% static 'img/pic09.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category9</h2>
                <div class="content">
                    <p>패션</p>
                </div>
            </a>
        </article>
        <!--<article class="style5">
            <span class="image">
                <img src="{% static 'img/pic10.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category10</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style6">
            <span class="image">
                <img src="{% static 'img/pic11.jpg' %}"alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category11</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src="{% static 'img/pic12.jpg' %}" alt="" />
            </span>
            <a href="{% url 'home' %}" >
                <h2>Category12</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article> -->
    </section>

{% endblock content %}

