{% extends "base.html" %}

{% load static %}

{% block title %} photo_detail
{% endblock %}

{% block extra-style %}
{% endblock extra-style %}


{% block content %}
<head>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'img/annihilation.png' %}" height="200px" />
            </div>
            <div class="col-7">
                <textarea 
                name="contents"
                cols="50" 
                wrap="hard"
                style="overflow:hidden; 
                width:83%;">
                </textarea>
            </div>
        <hr>
        <div class="col ml-15" style="padding-left: 30px;">
            <textarea 
            cols="5" 
            wrap="hard" 
            name="contents" 
            style="overflow:hidden; width:90%; padding:10px; border:none;">
            </textarea>
        </div>
        </div>
    </div>
</head>
{% endblock content %}

{% block jsfile %}
{% endblock %}