{% extends "base.html" %}

{% load static %}

{% block title %}home
{% endblock %}

{% block extra-style %}
{% endblock extra-style %}


{% block content %}
<span class="image main"><img src="{% static 'img/home.jpg' %}" alt="" />      
</span>
<p>취향 공유 플랫폼 roof 입니다.
네 명의 멤버들이 모여 각자의 취향을 담았습니다. </p>
        
<p>따로, 또 같이 - 네 멤버들의 공통 취향을 보여주는 메인페이지와
각자의 취향을 공유할 수 있는 나만의 공간으로 구성되어 있습니다. 
각자의 방이 한 지붕 아래에 있는 것처럼 보여, 이곳을 지붕(roof)이라 부르기로 했어요. </p>
        
<p>깔끔하게 정리 - 관심사가 많아 이것저것 올리고 싶을 때 
이야기들이 중구난방으로 보일까 걱정하지 마세요. 
이미지 위주의 업로드가 가능하고, 짧은 글로 이미지를 설명할 수 있습니다.
주제별로 카테고리를 나눌 수 있으니 상자에 넣어두듯 깔끔하게 정리할 수 있습니다. </p>
        
<p>무한한 가능성 - roof는 뭐든지 될 수 있어요.
나의 취향 연대기를 기록하는 일기장이 될 수도 있고,
가까운 사람과 추억을 쌓는 카페가 될 수도,
나와 비슷한 취향을 가진 사람들을 만나는 광장이 될 수도 있습니다. </p>
{% endblock content %}

{% block jsfile %}
{% endblock %}